body {
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.max_width {
  max-width: 1200px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#top {
  color: #FFFFFF;
  background: url("../img/breakdawn5_vj.JPG")
              no-repeat
              fixed;
  background-size: cover;
  position: relative;
  height: 100%;
}
#top::before {
  /* 透過した青 */
  background-color: rgba(67, 82, 188, 0.8);
  /* どの範囲に重ねるか指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

#top_main_wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
}

#top_sub_wrapper {
  width: 100%;
  height: 250px;
  position: relative;
}

#top_sub_wrapper_2 {
  position: absolute;
  width: 100%;
  height: 250px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#top_name {
  font-size: 100px;
  padding-bottom: 70px;
}

#top_role {
  font-size: 80px
}

#top_menu {
  font-size: 30px;
  position: absolute;
  bottom: 40px;
}

.menu_wrapper {
  float: left;
  width: 160px;
  margin-right: 20px;
}