body {
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

/* パソコン表示だと横を1200pxに中身をおさめる */
.max_width {
  max-width: 1200px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* パソコン表示だと横を1200pxまでしか小さくさせない */
.min_width {
  min-width: 1200px;
}
/* パソコン表示だと縦800pxまでしか小さくさせない */
.min_height {
  min-height: 800px;
}
/* スマホ表示 ~768px */
@media screen and (max-width: 768px) {
  .max_width {
    /* max-width: 320px; */
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .min_width {
    min-width: 100%;
  }
  .min_height {
    min-height: 568px;
  }
}

.row, .row * {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 50px;
  }
}

/* aタグのエフェクト */
a.link_blue {
  color: #4352BC;
}

a.link_blue:hover {
  color: white;
  background-color: #4352BC;
  text-decoration: none;
}

a.link_blue:link {
  text-decoration: none;
}

a.link_white {
  color: white;
}

a.link_white:hover {
  color: #4352BC;
  background-color: white;
  text-decoration: none;
}

a.link_white:link {
  text-decoration: none;
}

a.link_under {
  text-decoration: underline;
}

a.link_under:hover {
  text-decoration: underline;
}

a.link_under:link {
  text-decoration: underline;
}

/* TOP */

#top {
  color: #FFFFFF;
  background: url("../img/breakdawn5_vj.JPG")
              no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  /* min-height: 800px; */
}

#top::before {
  /* 透過した青 */
  background-color: rgba(67, 82, 188, 0.8);
  /* どの範囲に重ねるか指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

#top_main_wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
}

#top_sub_wrapper {
  margin-top: 150px;
}

#top_sub_wrapper h1 {
  font-size: 100px;
  padding-bottom: 70px;
}
#top_sub_wrapper h2 {
  font-size: 80px;
}
@media screen and (max-width: 768px) {
  #top_sub_wrapper h1 {
    font-size: 50px;
    padding-bottom: 70px;
  }
  #top_sub_wrapper h2 {
    font-size: 40px;
  }
}

#top_menu {
  font-size: 30px;
  /* width: 1200px; */
  margin: 0;
  position: absolute;
  bottom: 40px;
  /* min-width: 1200px; */
}
@media screen and (max-width: 768px) {
  #top_menu {
    font-size: 20px;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 40px;
  }
}

#top_menu a {
  /* padding: 0; */
  /* width: 200px; */
  border: white
          1px
          solid;
  text-align: center;
  margin: 0 20px;
}

/* PROFILE */

#profile {
  background-color: #D8DCF3;
  /* min-height: 800px; */
}

#profile_img {
  overflow: hidden;
  /* min-height: 800px; */
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #profile_img {
    width: 100%;
    height: 500px;
    min-height: 500px;
  }
}

#profile_img img {
  min-height: 800px;
}
@media screen and (max-width: 768px) {
  #profile_img img {
    width: auto;
    height: 100%;
    min-height: 600px;
  }
}

#profile_content {
  padding-left: 15px;
  color: #4352BC;
  font-weight: bold;
  position: relative;
}
@media screen and (max-width: 768px) {
  #profile_content {
    position: static;
  }
}

.profile_item {
  font-size: 30px;
}
.profile_item_big {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .profile_item {
    font-size: 20px;
  }
  .profile_item_big {
    font-size: 30px;
  }
}

.profile_content_wrapper {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .profile_content_wrapper {
    margin-top: 10px;
  }
}

#profile_view {
  border: #4352BC
          1px
          solid;
  text-align: center;
  position: absolute;
  left: 30px;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  #profile_view {
    /* とりあえずスマホでは消そうもう。笑 */
    /* display: none; */
    position: static;
    left: 10px;
    bottom: 10px;
    margin: 20px 0;
  }
}

/* SKILL */

#skill {
  background-color: #8D96D8;
  color: white;
  /* min-height: 800px; */
}

.skill_item {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 50px;
  border-bottom: 1px white solid;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .skill_item {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 30px;
    border-bottom: 1px white solid;
    text-align: center;
  }
}

.skill_content {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .skill_content {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    /* height: 50px; */
  }
}

.fa-html5 {
  color: #EE6534;
}

.fa-css3-alt {
  color: #1170ba;
}

.fa-js {
  color: #E3A138;
}

.skill_content_box {
  padding-left: 50px;
}
@media screen and (max-width: 768px) {
  .skill_content_box {
    padding-left: 5px;
  }
}

.skill_content_icon {
  font-size: 85px;
  margin-bottom: 40px;
  padding-left: 15px;
}
.skill_content_icon_img {
  width: 100px;
  margin-bottom: 40px;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .skill_content_icon {
    font-size: 50px;
    padding-left: 5px;
  }
  .skill_content_icon_img {
    width: 50px;
    padding-left: 5px;
  }
}

/* WORKS */

#works {
  background-color: #D8DCF3;
  color: #4352BC;
  padding-bottom: 30px;
}

#works div .row {
  margin: 0;
}

.works_item {
  /* border: 1px solid  #4352BC; */
  height: 300px;
}
@media screen and (max-width: 768px) {
  .works_item {
    height: 150px;
  }
}

.works_item_content {
  font-size: 50px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 768px) {
  .works_item_content {
    font-size: 20px;
  }
}

.works_item_content:hover {
  letter-spacing: 2px;
  text-decoration: underline;
}

.works_programming {
  background-color: #4352BC;
  color: white;
  height: 25px;
}

.works_others {
  background-color:white;
  color: #4352BC;
  height: 25px;
}

#works_item1 {
  /* background: url("../img/web-browser-vj.png") */
  background: url("../img/works_img_top/web-browser-vj.png")
  no-repeat;
}
#works_item2 {
  /* background: url("../img/eye-cosplayer.jpg") */
  background: url("../img/works_img_top/eye-cosplayer.jpg")
  no-repeat;
}
#works_item3 {
  background: url("../img/works_img_top/nouha.png")
  no-repeat;
}
#works_item4 div{
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  #works_item4 div{
    font-size: 15px;
  }
}
#works_item4 {
  background: url("../img/works_img_top/arcade.png")
  no-repeat;
}
#works_item5 {
  background: url("../img/works_img_top/mymemory.png")
  no-repeat;
}
#works_item6 {
  background: url("../img/works_img_top/vlog.jpg")
  no-repeat;
}
#works_item7 {
  background: url("../img/works_img_top/portfolio.png")
  no-repeat;
}
/* スマホ表示のときのWORKSの画像 */
@media screen and (max-width: 768px) {
  #works_item1 {
    /* background: url("../img/web-browser-vj.png") */
    background: url("../img/works_img_top_phone/web-browser-vj.png")
    no-repeat
    cover;
  }
  #works_item2 {
    /* background: url("../img/eye-cosplayer.jpg") */
    background: url("../img/works_img_top_phone/eye-cosplayer.jpg")
    no-repeat
    cover;
  }
  #works_item3 {
    background: url("../img/works_img_top_phone/nouha.png")
    no-repeat
    cover;
  }
  #works_item4 {
    background: url("../img/works_img_top_phone/arcade.png")
    no-repeat
    cover;
  }
  #works_item5 {
    background: url("../img/works_img_top_phone/mymemory.png")
    no-repeat
    cover;
  }
  #works_item6 {
    background: url("../img/works_img_top_phone/vlog.jpg")
    no-repeat
    cover;
  }
  #works_item7 {
    background: url("../img/works_img_top_phone/portfolio.png")
    no-repeat
    cover;
  }
}

.works_item_title {
  font-size: 50px;
  text-align: center;
  margin: 30px 0;
}
@media screen and (max-width: 768px) {
  .works_item_title {
    font-size: 30px;
    margin: 10px 0;
  }
}

.works_item_img {
  overflow: hidden;
  height: 600px;
  width: 600px;
}
@media screen and (max-width: 768px) {
  .works_item_img {
    height: 200px;
    width: 50%;
    max-width: 50%;
    margin: 0 auto;
  }
}

.works_item_img img {
  height: 100%;
}

.works_item_article {
  font-size: 20px;
  /* height: 30px; */
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .works_item_article {
    font-size: 15px;
    /* height: 30px; */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
  }
}

/* BLOG */

#blog {
  background-color: #8D96D8;
  color: white;
  /* min-height: 800px; */
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #blog {
    font-size: 20px;
  }
}

.blog_content {
  margin-bottom : 30px;
}
@media screen and (max-width: 768px) {
  .blog_content {
    margin-bottom : 20px;
  }
}

/* VJ */

#vj {
  background-color: #D8DCF3;
  color: #4352BC;
  /* min-height: 800px; */
}

#vj_content  {
  margin: 0;
  padding-left: 50px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #vj_content  {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#vj_view {
  /* 一旦まだ作ってないから見えなくする */
  display: none;

  border: #4352BC
          1px
          solid;
  text-align: center;
  /* position: absolute; */
  /* bottom: 0px; */
  margin-top: 20px;
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  #vj_view {
    font-size: 30px;
    bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .display_phone {
    display: none;
  }
}

/* #vj_use {
  margin-top: 100px;
  font-size: 50px;
}

#vj_use_content {
  font-size: 30px;
} */

#vj_event {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  #vj_event {
    margin-top: 20px;
    font-size: 30px;
  }
}

.vj_event_wrapper {
  font-size: 30px;
  color: #4352BC;
}
@media screen and (max-width: 768px) {
  .vj_event_wrapper {
    font-size: 20px;
    text-decoration: underline;
  }
}

.vj_event_wrapper:hover {
  color: white;
  background-color:  #4352BC;
  text-decoration: none;
}

.vj_event_img {
  margin-top: 40px;
  overflow: hidden;
  height: 100%;
}

/* CONTACT */

#contact {
  background-color: #8D96D8;
  color: white;
  /* min-height: 800px; */
}

.contact_sns {
  margin-top: 30px;
  width: 600px;
}
.twitter-timeline {
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .contact_sns {
    margin-top: 10px;
    width: 300px;
  }
  .twitter-timeline {
    margin: 0 auto;
    text-align: center;
  }
}

.contact_sns_item {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .contact_sns_item {
    margin-bottom: 10px;
    text-align: center;
  }
}

.fa-facebook, .fa-instagram, .fa-github, .fa-linkedin, .fa-envelope, .fa-university {
  font-size: 100px;
}
@media screen and (max-width: 768px) {
  .fa-facebook, .fa-instagram, .fa-github, .fa-linkedin {
    font-size: 50px;
  }
  .fa-envelope, .fa-university {
    font-size: 40px;
  }
}

.fa-facebook {
  color: #3C5A96;
}

.fa-instagram {
  color: #BA338F;
}

.fa-github:hover {
  color: black;
}

.fa-linkedin {
  color: #127CB4;
}

.fa-envelope-square {
  color: white;
}

.contact_icon {
  width: 100px;
}
@media screen and (max-width: 768px) {
  .contact_icon {
    width: 50px;
  }
}

.contact_mail {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .contact_mail {
    font-size: 15px;
  }
}

/* FOOTER用メニュー */

#footer_menu {
  background-color:#6876CA;
  color: white;
  text-align: center;
}

#footer_menu_wrapper {
  font-size: 30px;
  width: 1200px;
  margin: 0;
  /* min-width: 1200px; */
  height: 100px;
}
@media screen and (max-width: 768px) {
  #footer_menu_wrapper {
    font-size: 20px;
    width: 100%;
    margin: 0;
    /* min-width: 1200px; */
    height: 100px;
  }
}
/* 一番上に戻るボタン */
#scroll_top span {
  position: absolute;
  /* top: 0;
  left: 50%; */
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: 10px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

a#scroll_top {
  color: white;
}

a#scroll_top:hover {
  color:  white;
  text-decoration: none;
}

a#scroll_top:link {
  text-decoration: none;
}

#return span {
  position: absolute;
  /* top: 0;
  left: 50%; */
  width: 24px;
  height: 24px;
  margin-left: -24px;
  margin-top: 10px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  #return span {
    margin-top: 0px;
  }
}

a#return {
  color: white;
}

a#return:hover {
  color:  white;
  text-decoration: none;
}

a#return:link {
  text-decoration: none;
}

/* FOOTER */

#footer {
  background-color: #4352BC;
  color: white;
  text-align: center;
  font-size: 15px;
}

#footer_content {
  height: 40px;
  letter-spacing: 1.5px;
}

/* プロフィール詳細 */

#profile_detail {
  background-color: #D8DCF3;
  color: #4352BC;
  font-size: 20px;
}

.profile_detail_item {
  font-size: 50px;
  text-align: center;
  padding: 30px 0;
}

.profile_detail_content {
  font-size: 20px;
  padding-bottom: 30px;
}